body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  margin-bottom: 0;
}

p {
  color: white;
  font-family: 'Merriweather', sans-serif;
  word-spacing: 2px;
}

h1 {
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: gold;
  font-family: 'Merriweather', sans-serif;
  text-decoration: none;
}
a:hover{
  color: yellow;
}
.food{
  color: white;
  text-decoration: none;
}
.top-container {
  background-color: #25316D;
  margin-top: 0;
  background-image: url('https://media.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif');
  background-repeat: repeat;
  background-size: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 130px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 400px;
}

.moon {
  position: relative;
  top: 50px;
  width: 300px;
  height: 300px;
  margin: 0;
}

hr {
  width: auto;
  height: 5px;
  background-color: gold;
  margin: 0;
  padding: 0;
  border: 0;
}
.profile {
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 2;
  background-color: #0F3460;
  margin: 0;
}
.skills {
  background-image: url('https://media.giphy.com/media/2xDzcNcRm0BeXPEVDI/giphy.gif');
  background-repeat: repeat;
  height: 600px;
  background-color: #16213E;
  padding-top: 100px;
  padding-bottom: 100px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  width: 50%;
}

.skill1 {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.skill2 {
  width: 25%;
  margin-left: 30px;
  position: relative;
  bottom: 50px;
  float: right;
}

.contact-me {
  padding-top: 100px;
  padding-bottom: 150px;
  line-height: 2;
  background-color: #0F3460;
  margin: 0;
}

.profile-pic {
  width: 150px;
  height: 200px;
}

.bottom-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #293462;
  height: 120px;
  margin: 0 auto 0 auto;
}

.surname {
  color: white;
  margin: 10px auto 10px auto;
  font-size: 15px;
  line-height: 5;
  display: block;
  position: relative;
  top: 20px;
}

.btn {
  background: #82c6fa;
  background-image: -webkit-linear-gradient(top, #82c6fa, #40519c);
  background-image: -moz-linear-gradient(top, #82c6fa, #40519c);
  background-image: -ms-linear-gradient(top, #82c6fa, #40519c);
  background-image: -o-linear-gradient(top, #82c6fa, #40519c);
  background-image: linear-gradient(to bottom, #82c6fa, #40519c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 50px;
}

.btn:hover {
  background: #4582d1;
  background-image: -webkit-linear-gradient(top, #4582d1, #46c0c2);
  background-image: -moz-linear-gradient(top, #4582d1, #46c0c2);
  background-image: -ms-linear-gradient(top, #4582d1, #46c0c2);
  background-image: -o-linear-gradient(top, #4582d1, #46c0c2);
  background-image: linear-gradient(to bottom, #4582d1, #46c0c2);
  text-decoration: none;
}
.footer-link {
  color: white;
  text-decoration: none;
  margin: auto 20px auto 20px;
  position: relative;
  top: 10px;
}
